body {
color: Turquoise;
background:  rgb(9, 56, 65);
margin:0px;
}

header {
 border-bottom: solid 5px  rgb(127, 255, 212); 
padding: 20px;
font-size: 32px;
color:  rgb(127, 255, 212); 
}

section {
    background: rgb(36, 121, 218);
    padding-bottom: 80px;
    padding-top: 80px;
}

