body{
    color: rgb(154, 70, 243); 
    background: black;
    margin:0px;
}

header {
    border-bottom: solid 1px rgb(255 113 179);
    padding: 20px;
    font-size: 32px;
}


section{
    background: rgb(242 155 247);
    padding-bottom: 80px;
    padding-top:80px ;
}