body{
    color: lawngreen; 
    background: royalblue;
    margin:0px;
}

header {
    border-bottom: solid 1px lawngreen;
    padding: 20px;
    font-size: 32px;
}

parei no 1:33 aula 04